@import './vars.css';

*,
::before,
::after {
  box-sizing: border-box;
  font: inherit;
  color: inherit;
  vertical-align: middle;
}

body {
  margin: 0;
  padding: 0 var(--space-md);
  font: normal 400 1rem/1.2 var(--default-font);
  background-color: var(--light-gray);
  background: linear-gradient(-45deg, var(--light-gray), var(--off-white));
  color: var(--dark-gray);
}

header.main {
  display: flex;
  align-items: flex-end;
  max-width: var(--max-width);
  height: 80px;
  margin: var(--space-lg) auto;
  animation: fade-in 2s both;
}

header.main::after {
  content: '';
  background: url(../assets/blob1.svg) no-repeat 50% 0% / 60px, url(../assets/blob2.svg) no-repeat 50% 80% / 30px;
  background-blend-mode: multiply;
  width: 50px;
  height: 80px;
  animation: header-anim 1.5s cubic-bezier(0.5, 0, 0.5, 1);
}

header.main a {
  text-decoration: none;
}

h1 {
  font-family: var(--title-font);
  font-size: var(--h1-size);
  letter-spacing: -1px;
  margin: var(--space-sm) 0;
}

h2 {
  font-family: var(--title-font);
  font-size: var(--h2-size);
  margin: var(--space-sm) 0;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
}

@keyframes header-anim {
  from {
    background-size: 50px, 30px;
    transform: translateY(15px);
  }
}
